{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;">Works log</h1>
{% if current_user.is_authenticated %}
<a href="jobs" class="btn btn-secondary">Добавить задачу</a>
<a href="deps" class="btn btn-secondary">Департаменты</a>
{% endif %}
{% for item in jobs%}
    <div>
        <h2>Action #{{jobs.index(item) + 1}}</h2>
        <table style="border: 1px solid black; width: 100%; text-align: center; background-color: Gainsboro;">
            <tr>
                <td width="40%">Название работы</td>
                <td width="15%">Фамилия и имя ответственного</td>
                <td width="15%">Продолжительность в часах</td>
                <td width="15%">Список id команды</td>
                <td width="15%">Завершена или нет</td>
            </tr>
            <tr style="background-color: lightblue;">
                <td>{{item.job}}</td>
                <td>{{item.leader.surname}} {{item.leader.name}}</td>
                <td>{{item.work_size}}</td>
                <td>{{item.collaborators}}</td>
                {% if item.is_finished %}
                <td>Работа выполнена!</td>
                {% else %}
                <td>Работа не выполнена</td>
                {% endif %}
            </tr>
        </table>
    </div>
    {% if current_user.is_authenticated and (current_user == item.leader or current_user.id == 1) %}
    <div>
        <a href="/jobs/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}