<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% set user_list = ['инженер - следователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'климатолог', 'астрогеолог'] %}
{% if "ol" in list %}
    <h1>Миссия Колонизация Марса</h1>
    <h2>Список профессий</h2>
    <ol>
        {% for user in user_list %}
        <li>{{ user }}</li>
        {% endfor %}
    </ol>
{% elif "ul" in list %}
    <h1>Миссия Колонизация Марса</h1>
    <h2>Список профессий</h2>
    <ul>
        {% for user in user_list %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h2>Неверные параметры</h2>
{% endif %}
</body>
</html>