{% extends "base.html" %}

{% block content %}
        <h2 style="padding-left: 200px;">Оформление каюты</h2>
        <div style="padding-left: 75px;">
            <table style="border: 1px solid black; width: 550px; padding-left: 100px; text-align: center; background-color: Gainsboro;">
                <tr>
                    <td width="50">Цвет стен</td>
                    <td width="50">Эмблема</td>
                </tr>
                <tr>
                    {% if (sex=="male" or sex=="мужской") and age >= 21 %}
                        <td style="background-color: orange;"></td>
                        <td><img src="../../static/img/old_marsianin.png" alt="Взрослый марсианин" width="100%"></td>
                    {% elif (sex=="male" or sex=="мужской") and age < 21 %}
                        <td style="background-color: Silver;"></td>
                        <td><img src="../../static/img/baby_marsianin.png" alt="Ребёнок марсианин" width="100%"></td>
                    {% elif (sex=="female" or sex=="женский") and age < 21 %}
                        <td style="background-color: RosyBrown;"></td>
                        <td><img src="../../static/img/baby_marsianin.png" alt="Ребёнок марсианин" width="100%"></td>
                    {% elif (sex=="female" or sex=="женский") and age >= 21 %}
                        <td style="background-color: Plum;"></td>
                        <td><img src="../../static/img/old_marsianin.png" alt="Взрослый марсианин" width="100%"></td>
                    {% endif %}
                </tr>
            </table>
        </div>
{% endblock %}